# Active le moteur de réécriture d’URL
RewriteEngine On

# Ne pas rediriger les fichiers statiques existants
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirige tout le reste vers router.php
RewriteRule ^(.*)$ router.php [QSA,L]
